{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<h3 class="titleFonts">This is The Hall Of Fame Cards </h3>
<h4 class="titleFonts">Library</h4>
<div class="row">
<div class="col s8">

 {% for deck in decks_data %}
<a href="{% url 'decks_detail' deck.id %}">
        <div class="card" id="cardDiv">
            <div class="card-content">
                <span class="card-title">{{deck.name}}</span>
                <p>Description: {{deck.description}}</p>
            </div>
        </div>
</a>
    {% endfor%}

</div>

<div class="col s4">
<p>Create A New Deck to Store Your Collection of Cards</p>
<form action="{% url 'decks_index' %}" method="POST">
  {% csrf_token %}

  {{ deck_form.as_p}}
   <button type="submit" class="btn-floating btn-medium pulse"><i class="material-icons">control_point</i></button>
  </form>
<p>Create</p>
</div>
</div>

{% endblock %}